@import '../../../../assets/variables';

.direction {
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        &__left {
            flex: 1;
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            background-color: $light-black;

            .title {
                @include content;
                color: $white;
                font-weight: 500;
            }

            .img {
                width: 100%;
                display: flex;
                justify-content: space-between;

                img {
                    width: 100px;
                    height: 100px;

                    &:nth-child(2) {
                        margin-top: 3rem;
                    }
                }
            }
        }

        &__right {
            flex: 1;
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            background-color: $light-black;

            .title {
                @include content;
                color: $white;
                font-weight: 500;
            }

            .img {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 95%;

                img {
                    width: 80px;
                    height: 80px;
                }
            }

            .link {
                padding: .5rem 2rem;
                border-radius: 1rem;
                color: $white;
                background-color: $orange;
                @include content;
                font-weight: 500;
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    .direction {
        &__content {
            flex-direction: column;

            &__left {
                .img {
                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}