@import "../../../../assets/variables";

.faq {
    padding: 2rem 0;

    &__content {
        border-radius: 1rem;
        padding: 2rem 1rem 1rem;
        background-color: #292929;

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            h2 {
                font-size: 3rem;
                padding: 0 1rem;
                background-color: $yellow;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            &__question {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 1rem;
                background-color: $light-black;
                position: relative;
                cursor: pointer;

                &__text {
                    font-size: 1.1rem;
                    color: $gray;
                    font-weight: 500;
                }


                .icon {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: $black;
                    padding: .5rem;
                    position: absolute;
                    right: .5rem;

                    svg {
                        top: -2.5px;
                        position: relative;
                        width: 100%;
                        height: auto;
                    }
                }

            }

            &__answer {
                max-height: 0;
                overflow: hidden;
                background-color: $light-black;
                font-size: 1.1rem;
                color: $gray;
                font-weight: 500;
                transition: max-height 0.3s ease, padding 0.3s ease;
            }
        }
    }
}

.skeleton__list {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-direction: column;

    &__item {
        margin-top: 1rem;
        width: 100%;
        height: 40px;
        color: transparent;
        @include skeleton;
    }
}

@media only screen and (max-width: 991px) {
    .faq {
        &__content {
            padding: 1rem .5rem .5rem;

            &__title {
                margin-bottom: 2rem;

                h2 {
                    font-size: 2rem;
                }

                span {
                    width: 40px;
                    height: 40px;
                    border-radius: .5rem;
                }
            }

            &__list {
                &__question {
                    padding: 1rem;

                    &__text {
                        font-size: 1.1rem;
                    }

                    .icon {
                        width: 35px;
                        height: 35px;
                    }
                }

                &__answer {
                    font-size: .9rem;
                }
            }
        }
    }
}