@import "../../../../assets/variables";

.intro {
    padding: 100px 0;
    background-color: $black;
    position: relative;
    overflow: hidden;

    h1 {
        color: transparent;
        font-size: .01px;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;

            &__item {
                display: flex;
                gap: .3rem;

                a {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 5rem;
                    padding: 0 1rem;
                    color: $black;
                    transition: $transition;
                    text-align: center;
                }

                .img {
                    width: 95px;
                    height: 95px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    object-fit: contain;
                    border-radius: 1rem;
                    padding: 1rem;
                    transition: $transition;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                &:nth-child(1) {
                    animation: moveText 5s infinite alternate-reverse ease-in-out;

                    a {
                        background-color: $green;
                    }
                }

                &:nth-child(2) {
                    margin-left: -5rem;
                    animation: moveText 5s infinite alternate ease-in-out;

                    a {
                        background-color: $violet;
                    }

                    .img {
                        background-color: $orange;
                    }
                }

                &:nth-child(3) {
                    margin-left: 20rem;
                    animation: moveText 5s infinite alternate-reverse ease-in-out;

                    a {
                        background-color: $yellow;
                    }

                    .img {
                        background-color: $violet;
                    }
                }

                &:hover {
                    a {
                        transform: rotate(5deg);
                    }

                    .img {
                        transform: rotate(-10deg);
                    }
                }
            }
        }

        &__text {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            color: $gray;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .intro {
        &__content {
            &__list {
                &__item {
                    a {
                        font-size: 4rem;
                    }

                    .img {
                        width: 90px;
                        height: 90px;
                    }

                    &:nth-child(2) {
                        margin-left: -5rem;
                    }

                    &:nth-child(3) {
                        margin-left: 15rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .intro {
        padding: 70px 0;

        &__content {
            &__list {
                &__item {
                    align-items: center;

                    a {
                        font-size: 3rem;
                    }

                    .img {
                        width: 60px;
                        height: 60px;
                        padding: 10px;
                    }

                    &:nth-child(2) {
                        margin-left: -5rem;
                    }

                    &:nth-child(3) {
                        margin-left: 10rem;
                    }
                }
            }

            &__text {
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .intro {
        &__content {
            &__list {
                &__item {
                    align-items: center;

                    a {
                        font-size: 2.5rem;
                    }

                    .img {
                        width: 50px;
                        height: 50px;
                        padding: 5px;
                    }

                    &:nth-child(2) {
                        margin-left: 0;
                    }

                    &:nth-child(3) {
                        margin-left: 0;
                    }
                }
            }

            &__text {
                font-size: 1.2rem;
            }
        }

        .bug {
            img {
                width: 45px;
            }
        }

        .bug2 {
            img {
                width: 30px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .intro {
        &__content {
            &__list {
                &__item {
                    align-items: center;

                    a {
                        font-size: 2rem;
                    }

                    .img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

.bug,
.bug2 {
    position: absolute;
    cursor: default;
    z-index: 2;

    img {
        object-fit: contain;
    }
}

.bug {
    img {
        width: 80px;
        height: auto;
    }
}

.circularMovement {
    animation: rotate 5s infinite linear;
}

.circularMovement2 {
    animation: rotate2 5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(1rem) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(1rem) rotate(-360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(360deg) translate(1rem) rotate(-360deg);
    }

    100% {
        transform: rotate(0deg) translate(1rem) rotate(0deg);
    }
}


@keyframes moveText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10%);
    }
}