@import '../../../../assets/variables';

.dinoGame {
    margin-top: 2rem;

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        &__game {
            width: 49%;

            &__elemets {
                width: 100%;
                position: relative;
                background-color: $light-black;
                border-radius: 1rem;
                overflow: hidden;
                height: 350px;

                &__dino {
                    position: absolute;
                    bottom: .25rem;
                    left: 50px;
                    width: 90px;
                    height: auto;
                    transition: bottom 0.2s ease;
                    z-index: 2;
                }

                &__obstacle {
                    position: absolute;
                    bottom: .3rem;
                    width: 25px;
                    height: auto;
                    animation: moveObstacle 4s linear infinite;
                    z-index: 1;
                }

                &__marquee {
                    overflow: hidden;
                    white-space: nowrap;
                    width: 100%;
                    position: absolute;
                    bottom: 0;

                    .list {
                        position: relative;
                        display: inline-block;
                        animation: marquee 10s linear infinite;
                    }
                }
            }


            &__btn {
                display: none;
            }
        }

        &__code {
            width: 49%;
            height: 350px;
            overflow-y: scroll;
            user-select: auto !important;

            &::-webkit-scrollbar {
                width: .2rem;
                height: .2rem;
            }
        }
    }
}

.top {
    top: 1rem;
    bottom: auto;
}

.jumping {
    animation: jump 0.5s ease forwards;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 100px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes moveObstacle {
    0% {
        right: -50px;
    }

    100% {
        right: 100vw;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 991px) {
    .dinoGame {
        &__content {
            flex-wrap: wrap;

            &__game {
                width: 100%;

                &__btn {
                    display: block;
                    width: 100%;
                    padding: .5rem;
                    border-radius: 1rem;
                    text-align: center;
                    background-color: $yellow;
                    color: $black;
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-top: 1rem;
                    border: 0;
                    text-transform: capitalize;

                }
            }

            &__code {
                margin-top: 2rem;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .dinoGame {
        &__content {
            &__game {
                width: 100%;

                &__elemets {
                    &__obstacle {
                        animation: moveObstacle 1s linear infinite;
                    }

                    &__dino {
                        left: 10px;
                    }
                }

                &__btn {
                    font-size: 1.2rem;
                }
            }
        }
    }


    @keyframes jump {
        50% {
            bottom: 120px;
        }
    }
}