@import "../../../assets/variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $black;
    text-align: center;
    gap: 1.5rem;
}

.image {
    width: 300px;
    height: auto;
}

.title {
    font-size: 3rem;
    color: $white;
    font-weight: 600;
}

.text {
    font-size: 1.2rem;
    color: $gray;
    font-weight: 500;

    .link {
        margin-left: .6rem;
        color: $yellow;
    }
}