@import '../../../assets/variables';

.header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    background-color: $black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__nav {
            display: flex;
            align-items: center;
            gap: 2rem;

            &__logo {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;

                &__btnHam {
                    display: none;
                }

                .logo {
                    img {
                        object-fit: contain;
                    }
                }

                .resLogo {
                    display: none;
                }
            }

            &__list {
                display: flex;
                align-items: center;
                gap: 2rem;

                &__item {
                    a {
                        font-size: .9rem;
                        font-weight: 500;
                        color: $gray;
                        cursor: pointer;
                        transition: $transition;

                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }

        &__btn {
            background-color: $white;
            border: 0;
            padding: .5rem 1rem;
            border-radius: .8rem;
            font-size: .9rem;
            font-weight: 500;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 991px) {
    .header {
        padding: .5rem 0;

        &__content {
            &__nav {
                &__logo {
                    &__btnHam {
                        display: block;
                        width: 1.6rem;
                        height: 2.5px;
                        background-color: $white;
                        border-radius: 5px;
                        transition: all .5s ease-in-out;

                        &:before {
                            content: "";
                            position: absolute;
                            width: 1.6rem;
                            height: 2.5px;
                            background-color: $white;
                            border-radius: 5px;
                            transition: all .5s ease-in-out;
                            box-shadow: 0 2px 5px rgba(121, 121, 121, 0.2);
                            transform: translateY(-9px);
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            width: 1.6rem;
                            height: 2.5px;
                            background-color: $white;
                            border-radius: 5px;
                            transition: all .5s ease-in-out;
                            box-shadow: 0 2px 5px rgba(138, 138, 138, 0.2);
                            transform: translateY(9px);
                        }
                    }

                    .logo {
                        display: none;
                    }

                    .resLogo {
                        display: block;
                    }
                }

                &__list {
                    width: 320px;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    align-items: start;
                    left: 0%;
                    padding: 1rem;
                    top: 60px;
                    z-index: 999;
                    transform: translateX(-155%);
                    transition: .5s all;
                    background-color: $black;
                }
            }
        }
    }
}


.modalOpacity {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background-color: $black;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 999;
    opacity: .5;
    transform: translateX(100%);
    transition: .5 all;
}

.actModal {
    transform: translateX(0px);
}

.activeHam {
    transform: translateX(-50px);
    background-color: transparent !important;

    &:before {
        transform: rotate(45deg) translate(35px, -35px) !important;
    }

    &:after {
        transform: rotate(-45deg) translate(35px, 35px) !important;
    }
}

.activeList {
    transform: translateX(0) !important;
}