@import "../../../../assets/variables";

.statistics {
    padding: 6rem 0;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__title {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: .5rem;

            &__img {
                width: 95px;
                height: 95px;
                background-color: $yellow;
                padding: 1rem;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            h2 {
                font-size: 3rem;
                background-color: $orange;
                padding: 0 1rem;
                text-align: center;
                text-transform: uppercase;
            }
        }

        &__list {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            flex-wrap: wrap;

            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                min-width: 270px;
                flex: 1;
                padding: 1rem;
                border-radius: 1rem;
                height: 400px;

                .img {
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    background-color: $yellow;
                    padding: 1rem;
                    border-radius: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 3rem;
                    left: 3rem;
                    transform: rotate(-10deg);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .elements {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    flex-direction: column;

                    h3 {
                        font-size: 6rem;
                        color: $black;
                    }

                    p {
                        font-size: 1.5rem;
                        color: $black;
                        text-align: center;
                        font-weight: 500;
                    }
                }

                &:nth-child(1) {
                    background-color: #F0EDFF;

                    .img {
                        img {
                            transform: rotate(17deg);
                        }
                    }
                }

                &:nth-child(2) {
                    background-color: #D4FAE6;

                    .img {
                        background-color: $violet;
                        color: $black;
                        transform: rotate(-15deg);
                        top: auto;
                        bottom: 1.5rem;
                        padding: 0;
                    }
                }

                &:nth-child(3) {
                    background-color: #F0EDFF;

                    .img {
                        left: auto;
                        transform: rotate(13deg);
                        left: 3rem;
                        top: 2rem;
                    }
                }
            }
        }
    }
}


.skeleton__list {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
    justify-content: space-between;

    &__item {
        width: 100%;
        color: transparent;
        @include skeleton;
    }
}

@media only screen and (max-width: 991px) {
    .statistics {
        padding: 5rem 0 2rem;

        &__content {
            &__title {
                &__img {
                    width: 80px;
                    height: 80px;
                }
            }

            &__list {
                &__item {
                    height: 400px;

                    .img {
                        width: 65px;
                        height: 65px;
                        padding: .5rem;
                    }

                    .elements {
                        h3 {
                            font-size: 5rem;
                        }
                    }

                    &:nth-child(3) {
                        .img {
                            left: auto;
                            right: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .statistics {
        &__content {
            &__title {
                &__img {
                    width: 60px;
                    height: 60px;
                    padding: .5rem;
                }

                h2 {
                    font-size: 2rem;
                }
            }

            &__list {
                &__item {
                    height: 300px;

                    .img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}