$black: #1E1E1E;
$light-black: #333333;
$white: #fff;
$gray: #FFFFFF99;
$orange: #FF5F00;
$yellow: #FCE300;
$green: #2AE881;
$violet: #B6A4FF;
$blue: #80B9F1;

$radius: 1.5rem;
$transition: .3s all ease;

@mixin title {
    font-size: 3rem;

    @media only screen and (max-width: 991px) {
        font-size: 2rem;
    }
}

@mixin content {
    font-size: 1.3rem;

    @media only screen and (max-width: 991px) {
        font-size: 1rem;
    }
}

@mixin skeleton {
    border-radius: 5px;
    height: 40px;
    animation: Skeleton-loading 1s linear infinite alternate;

    @keyframes Skeleton-loading {
        0% {
            background-color: hsl(200, 20%, 70%);
        }

        100% {
            background-color: hsl(200, 20%, 95%);
        }
    }
}

@mixin loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $white;
    animation: an1 1s ease infinite;

    @keyframes an1 {
        0% {
            transform: rotate(0turn);
        }

        100% {
            transform: rotate(1turn);
        }
    }
}