@import '../../../../assets/variables';

.intro {
    padding-top: 4rem;

    &__content {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 1rem;
        padding: 2rem;
        border-radius: 1rem;
        background-color: $light-black;
        flex-wrap: wrap;

        &__left {
            width: 48%;

            h1 {
                color: $white;
                font-size: 3rem;
                text-transform: capitalize;
            }
        }

        &__right {
            width: 48%;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            p {
                color: $white;
                font-size: 1.3rem;
                font-weight: 500;
            }
        }

        &__bottom {
            margin-top: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
            gap: 0.5rem;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 10px;
                z-index: 1;
                pointer-events: none;
            }

            &::before {
                left: 0;
                background: linear-gradient(to right, $light-black, transparent);
            }

            &::after {
                right: 0;
                background: linear-gradient(to left, $light-black, transparent);
            }

            &__marquee {
                display: flex;
                gap: 0.5rem;
                animation: marquee 70s linear infinite;
            }

            &__item {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                white-space: nowrap;

                &__img {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.4rem;
                    background-color: $yellow;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

                &__text {
                    padding: 0.35rem 1rem;
                    background-color: $yellow;
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    white-space: nowrap;
                }
            }
        }
    }
}

.list {
    &__loader {
        display: block;
        @include skeleton;
        width: 100%;
        height: 300px;
    }
}

@keyframes marquee {
    0% {
        transform: translateZ(0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@media only screen and (max-width: 991px) {
    .intro {
        &__content {
            padding: 1rem;

            &__left {
                width: 100%;

                h1 {
                    font-size: 2rem;
                }
            }

            &__right {
                margin-top: 1rem;
                width: 100%;

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
